{
  "parser": "@typescript-eslint/parser",
  "plugins": ["solid", "prettier"],
  "extends": ["eslint:recommended", "plugin:solid/typescript", "prettier"],
  "ignorePatterns": ["./dist/**/*"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "overrides": [
    {
      "files": ["**/*.{ts,tsx,js,jsx,mjs}"]
    }
  ]
}
